.git
.local
.venv
.test-venv
.DS_Store
**/.DS_Store
**/__pycache__
**/*.egg-info
.pytest_cache
.ruff_cache
build
dist
private*
inputs
outputs
state
captures
logs
upstream
*.bin
**/*.bin
*.elf
**/*.elf
.env*
